name: Node.js CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'angular-16-crud-example/**' 
      - '.github/workflows/frontend-workflow.yml'

jobs:
  npm-build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i
    - run: npm run build
    #- run: npm test
    - name: Archive dist folder
      uses: actions/upload-artifact@v3
      with:
        name: app
        path: angular-16-crud-example/dist
        
  docker-build:
      runs-on: ubuntu-latest
      needs: npm-build
  
      steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Download dist folder
        uses: actions/download-artifact@v3
        with:
          name: app
          path: angular-16-crud-example/dist  
      - name: Build Docker image
        run: |
          cd angular-16-crud-example && docker build -f "DockerFile" -t aharoud/frontend-app:latest .
      - name: Login to Docker Hub
        run: docker login -u aharoud -p ${{ secrets.DOCKER_PASSWORD }} 
      - name: Push the image to Docker Hub
        run: docker push aharoud/frontend-app:latest   
