name:  Build and Package Frontend app 

on:
  push:
    branches: [ "main" ]
    paths:
      - 'angular-16-crud-example/**'
      - '.github/workflows/frontend-workflow.yml'
      - '!README.md'
      - '!angular-16-crud-example/README.md'
      - '!spring-boot-data-jpa-mysql/README.md'
jobs:
  node-build:
    if: "contains(github.event.head_commit.message,'run-workflow')"
    uses: ./.github/workflows/angular-build.yml
    with:
       directory: "angular-16-crud-example"
       artifact-name: "dist"
       
  docker-build:
    runs-on: ubuntu-latest
    needs: node-build 
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Download dist folder
      uses: actions/download-artifact@v3
      with:
        name: dist
        path: angular-16-crud-example/dist
    - name: Build Docker image
      run: cd angular-16-crud-example && docker build -f "DockerFile" -t aharoud/frontend-app:latest .
    - name: Log in to Docker Hub
      run: docker login -u aharoud -p ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push frontend Docker image
      run: docker push aharoud/frontend-app:latest
