name: Build and Package Backend app

on:
  push:
    branches:
      - main
    paths:
      - 'spring-boot-data-jpa-mysql/**' 
      - '.github/workflows/maven.yml'

jobs:
  maven-build:
    runs-on: self-hosted

    services:
      mysql:
        image: mysql:8.2.0
        env:
          MYSQL_ROOT_PASSWORD: 123456
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: install maven
      run: sudo apt update && sudo apt install maven
    - name: Build with Maven
      run: cd spring-boot-data-jpa-mysql && mvn -B package
    - name: Archive JAR file
      uses: actions/upload-artifact@v3
      with:
        name: app
        path: spring-boot-data-jpa-mysql/target/*.jar
        
  docker-build:
      runs-on: self-hosted
      needs: maven-build
  
      steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Download JAR file
        uses: actions/download-artifact@v3
        with:
          name: app
          path: spring-boot-data-jpa-mysql/target  
      - name: Build Docker image
        run: |
          cd spring-boot-data-jpa-mysql && docker build -f "DockerFile" -t aharoud/backend-app:latest .
      - name: Login to Docker Hub
        run: docker login -u aharoud -p ${{ secrets.DOCKER_PASSWORD }} 
      - name: Push the image to Docker Hub
        run: docker push aharoud/backend-app:latest 
