name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  maven-build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ROOT_PASSWORD: 123456
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: cd spring-boot-data-jpa-mysql && mvn -B package
    - name: Archive JAR file
      uses: actions/upload-artifact@v3
      with:
        name: app
        path: spring-boot-data-jpa-mysql/target/*.jar
        
  docker-build:
      runs-on: ubuntu-latest
      needs: maven-build
  
      steps:
      - name: Download JAR file
        uses: actions/download-artifact@v3
        with:
          name: app
      - name: ls
        run: ls 

      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Build Docker image
        run: |
          cd spring-boot-data-jpa-mysql && docker build -f "DockerFile" -t aharoud/myapp-backend:latest .
#         docker login -u your-docker-username -p ${{ secrets.DOCKER_PASSWORD }}
#         docker push your-docker-username/your-docker-repo:latest  
      - name: run a container for testing
        run:  |
          docker run -d -p 8080:8080 --name myapp-backend aharoud/myapp-backend:latest
          sleep 20 # Wait for the application to start
          docker logs myapp-backend
      

